@import '~@redhat-cloud-services/frontend-components/index.css';


.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.data-table-pane {
  padding-left:32px;
  padding-right: 32px;
  padding-top: 16px;
}

.detail-title {
  margin-bottom: 16px;
}

.data-table-detail {
  &.heading {
    margin: 0 !important
  }
  &.content {
    margin-top: 0 !important
  }
}

.detail-pane {
  background-color: white;
  min-height: 100%;
  padding: 20px;
  overflow: ellipsis;
  word-wrap: break-word
}

.destructive-color {
  &:not(:disabled) {
    color: #FF0000 !important;
  }
}

.table-fix {
  .pf-c-table__toggle {
    padding-top: 0;
  }
}

.stages-modal {
    padding-bottom: 80px;
}

.disabled-link {
  pointer-events: none;
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767B
  }
}
