@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';


.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.data-table-detail {
  &.heading {
    margin: 0 !important
  }
  &.content {
    margin-top: 0 !important
  }
}

.detail-pane {
  background-color: var(--pf-global--BackgroundColor--100);
  min-height: 100%;
  overflow: ellipsis;
  word-wrap: break-word
}

.info-bar {
  min-height: 100%;
  padding: 0;
  overflow: ellipsis;
  word-wrap: break-word
}

.destructive-color {
  &:not(:disabled) {
    color: var(--pf-chart-color-red-100) !important;
  }
}

.table-fix {
  .pf-c-table__toggle {
    padding-top: 0;
  }
}

.stages-modal {
    padding-bottom: 80px;
}

.disabled-link {
  pointer-events: none;
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  .filter-icons-container {
    position: absolute;
    right: 8px;
    top: 8px;
    svg {
      z-index: 1000;
      fill: #72767B;
    }
    &:hover {
      svg.clear-filter {
        fill: var(--pf-global--Color--100);
        cursor: pointer;
      }
    }
  }
}

.icon-danger-fill {
  fill: var(--pf-global--danger-color--100)
}

.icon-info-fill {
  fill: var(--pf-global--info-color--100)
}

.icon-success-fill {
  fill: var(--pf-global--success-color--100)
}

.font-14{
  font-size: 14px;
  color: var(--pf-global--Color--100);
  font-weight: bold;
}

.ins__approval__primary_toolbar {
  .pf-c-data-toolbar__content {
    padding: 0;
  }
}
