@import '~@redhat-cloud-services/frontend-components/index.css';


.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.detail-title {
  margin-bottom: 16px;
}

.data-table-detail {
  &.heading {
    margin: 0 !important
  }
  &.content {
    margin-top: 0 !important
  }
}

.detail-pane {
  background-color: white;
  min-height: 100%;
  padding: 20px;
  overflow: ellipsis;
  word-wrap: break-word
}

.destructive-color {
  &:not(:disabled) {
    color: #FF0000 !important;
  }
}

.table-fix {
  .pf-c-table__toggle {
    padding-top: 0;
  }
}

.stages-modal {
    padding-bottom: 80px;
}

.disabled-link {
  pointer-events: none;
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  .filter-icons-container {
    position: absolute;
    right: 8px;
    top: 8px;
    svg {
      z-index: 1000;
      fill: #72767B;
    }
    &:hover {
      svg.clear-filter {
        fill: var(--pf-global--Color--100);
        cursor: pointer;
      }
    }
  }
}

.top-toolbar {
  background-color: #FFFFFF;
  .pf-c-breadcrumb__item {
    .active{
      color: var(--pf-c-breadcrumb__item--Color);
      text-decoration: none;
      pointer-events: none;
    }
  }
  h2 {
    margin-bottom: 0 !important;
  }
  .top-toolbar-title {
    min-width: 200px;
  }
  .top-toolbar-title-description {
    word-break: break-word;
  }
}

.global-primary-background {
  background-color: #fff
}
